<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
		<meta charset="utf-8">

		<!-- iPad/iPhone specific css below, add after your main css >
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
		<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
		-->

		<link rel="stylesheet" href="js/jquery.mobile-1.2.0.min.css" type="text/css" />
		<link rel="stylesheet" href="css/iphone.css" type="text/css" />

		<script type="text/javascript" charset="utf-8" src="js/jquery-1.8.2.min.js"></script>

		<script type="text/javascript" charset="utf-8" src="js/base64.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/aes.js"></script>

		<script type="text/javascript" charset="utf-8" src="js/cordova-1.5.0.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/barcodescanner.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/ChildBrowser.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/NativeControls.js"></script>

		<script type="text/javascript" charset="utf-8" src="js/main.js"></script>

		<script type="text/javascript" charset="utf-8" src="js/ajaxzip3.js"></script>
		<script type='text/javascript' charset="utf-8" src="js/jquery.validate.min.js"></script>
		<script type="text/javascript">
            $( document ).bind( "mobileinit", function() {
                // jQuery Mobile フレームワークの設定変更は、ここで行なってください！
                $.support.cors = true;
                $.mobile.allowCrossDomainPages = true;
            });

			function onBodyLoad() {
				document.addEventListener("deviceready", onDeviceReady, false);
			}

			function onDeviceReady() {
                    if(location.search.length > 1) {
                        var get = new Object();
                        var ret = location.search.substr(1).split("&");
                        for(var i = 0; i < ret.length; i++) {
                            var r = ret[i].split("=");
                            get[r[0]] = r[1];
                        }
                        console.log("get:"+get['kbn']);
                    }
                onReadyFile();
			}

			function onReadyFile() {
				// ファイルの読み込み
console.log("start Setting");

                var fname = 'order';
                var text = {};
                window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, read, noItem);
                function read(fileSystem) {
                    fileSystem.root.getFile(fname, {}, function(fileEntry) {
                        fileEntry.file(function(file) {
                            var reader = new FileReader();
                            reader.onloadend = function(evt) {
                            // ここに読み込み完了後の処理を書く
                                console.log("text: " + evt.target.result);
                                text = evt.target.result;
                                json = JSON.parse(text);
                                console.log("正常にorderテキストを読み込みました。");
                                if(json.qr_id.length > 1) {
                          	      $("#order").css("display","block");
                          	      $("#itemName").attr("href","show_item.html?qr_id="+json.qr_id);
                          	      // $("#itemName").text(json.item_name);
                                }
                            	onReadyFile2();
                            };
                            reader.readAsText(file, "utf-8");
                        }, noItem)
                    }, noItem);
                }
            }

            function noItem(error){
console.log("start Setting err");
            	onReadyFile2();
            }
            
			function onReadyFile2() {
				// ファイルの読み込み
console.log("start");

                var fname = 'ordering';
                var text = {};
                window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, read, fail);
                function read(fileSystem) {
                    fileSystem.root.getFile(fname, {}, function(fileEntry) {
                        fileEntry.file(function(file) {
                            var reader = new FileReader();
                            reader.onloadend = function(evt) {
                            // ここに読み込み完了後の処理を書く
                                console.log("text: " + evt.target.result);
                                text = evt.target.result;
                                json = JSON.parse(text);
                                console.log("正常にテキストを読み込みました。");
                                getCustomers(json);
                            };
                            reader.readAsText(file, "utf-8");
                            // Data URL として読み込む
                            // reader.readAsDataURL(file);
                        }, fail)
                    }, fail);
                }
            }

            // ファイルがある場合は、サーバー通信を行い値を取得する。
            function getCustomers(params){
                console.log("Start:"+params['customer_id']);
                
                var url = 'https://gs850.ggsv.jp/~w850033/class/json/send_setup.php';
                
				$.post(url, // アクセスするURL
                    params, // 送信データ
                    function(data, status, XHR) {// 処理結果
                    if (status == 'success') {

console.log("customer_id:"+params.customer_id);
console.log("password_ck:"+data.password_ck);
console.log("customer_ck:"+data.customer_ck);
console.log("address_ck:"+data.address_ck);
console.log("card_ck:"+data.card_ck);
console.log("password_ck:"+data.password_ck);
                       
                       // 個人情報の設定
                       if(data.password_ck == 1){
                            $("#ico4").css("display","block");
                            $("#href4").attr("href","passcode_edit.html");
                            $('#ordering_ok').css("display","block");
                            $('#ordering_ng').css("display","none");
                       }else{
                            $('#ordering_ok').css("display","none");
                            $('#ordering_ng').css("display","block");
                       }
                       
						if(data.customer_ck == 1){
                            $("#ico1").css("display","block");
                            $('#address_ok').css("display","block");
                            $('#address_ng').css("display","none");
                        }else{
                            $('#address_ok').css("display","none");
                            $('#address_ng').css("display","block");
						}

						if(data.address_ck == 1){
                            $("#ico2").css("display","block");
                            $('#card_ok').css("display","block");
                            $('#card_ng').css("display","none");
						}else{
                            $('#card_ok').css("display","none");
                            $('#card_ng').css("display","block");
                        }

						if(data.card_ck == 1){
                            $("#ico3").css("display","block");
							$("#href3").attr("href","card_show.html");
						}


                       if(data.setup_ok == 1){
                            $("#setup_ok").css("display","block");
                            $("#setup_no").css("display","none");
                       }else{
                            $("#setup_ok").css("display","none");
                            $("#setup_no").css("display","block");
                       }

						if(data.password_ck == 1){
							if(data.customer_ck == 1 || data.card_ck == 1){
								ckPassTime();
							}
						}

                       
                    } else {
                       message = 'お客様情報の登録に失敗しました';
                       title = 'サーバーと通信できませんでした';
                       button = 'OK';
                       navigator.notification.alert(message, alertCallBack(), title, button);
                       return false;
                    }
                    }
                );
            }

			function ckPassTime() {
				// ファイルの読み込み
                var fname = 'passtime';
                var text = {};
                window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, read, fail);
                function read(fileSystem) {
                    fileSystem.root.getFile(fname, {}, function(fileEntry) {
                        fileEntry.file(function(file) {
                            var reader = new FileReader();
                            reader.onloadend = function(evt) {
                            // ここに読み込み完了後の処理を書く
                                console.log("text: " + evt.target.result);
                                text = evt.target.result;
                                json = JSON.parse(text);
                                
                                console.log("正常にテキストを読み込みました。:passtime "+json.pass_time);

								var cktime   = json.pass_time+(60*60);
								var nowtime  = parseInt( new Date() /1000 );
								if(cktime < nowtime){
									location.href="passcode_input.html";
                                }else{
                                    // 暗証番号をもとめるリミット
                                    var psstime = {};
                                    psstime['pass_time'] = parseInt( new Date() /1000 );
                                    var fname2 = 'passtime';
                                    console.log("fname2: " + fname2);
                                    setFile(fname2, psstime);
                                }
                            };
                            reader.readAsText(file, "utf-8");
                            // Data URL として読み込む
                            // reader.readAsDataURL(file);
                        }, goErr)
                    }, goErr);
                }
            }

			function goErr(error) {
				location.href="passcode_input.html";
			}
		</script>

	<script type="text/javascript" charset="utf-8" src="js/jquery.mobile-1.2.0.min.js"></script>

	</head>

	<body onload="onBodyLoad()">

		<div data-role="page" data-add-back-btn="false">

			<div data-role="header" id="header" data-position="fixed">
				<h1>設定</h1>
<!--
				<a data-rel="back" href="#" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse" data-ajax="false">
					戻る
				</a>
 -->
                <a href="website_all.html?page=tr.html" class="ui-btn-right" data-icon="info" data-ajax="false">
                </a>
			</div>

			<div data-role="content">

<!--
				<% if $buy['flg'] == 'enable' && @item_info_app %>
				<ul data-role="listview">
					<li style="background-color:#ccc;">
						<div class="txt">
							ご購入をご希望された商品
						</div>
						<%= @item_info_app.item_name %>
					</li>
				</ul>
				<% end %>
-->
<!--
				<div class="setup_no">
					<div class="tl">
						ご注文いただくには下記の設定を行ってください。
					</div>
					<div class="txt">
						<img src="images/speedorder/ico_check_r.png" width="16" height="15" alt="" />表示がない項目の設定を行ってください。
					</div>

					<% elsif !@setting && @is_item %>
					<div class="tl">
						下記の設定をすると購入手続きが完了いたします。
						<br>
						購入手続き後のキャンセルもできます。
					</div>
					<div class="txt">
						<img src="images/speedorder/ico_check_r.png" width="16" height="15" alt="" />表示がない項目の設定を行ってください。
					</div>
					<% else %>
					<div class="setup_ok">
						<div class="tl">
							ご注文いただけます。
						</div>
					</div>
					<% end %>
				</div>
-->
                <div id="order" style="display:none">
				<div class="setup_no">
					<div class="tl">
						未購入の商品があります。
					</div>
				</div>
				<ul data-role="listview">
					<li style="background-color:#ccc;">
						<a id="itemName" href="#" data-ajax="false">商品を見る</a>
					</li>
				</ul>
                </div>


				<div class="setup_no" id="setup_no" style="display:block">
					<div class="tl">
						ご注文いただくには下記の設定を行ってください。
					</div>
					<div class="txt">
						<img src="images/speedorder/ico_check_r.png" width="16" height="15" alt="" />表示がない項目の設定を行ってください。
					</div>
                </div>

				<div class="setup_ok" id="setup_ok" style="display:none">
					<div class="tl">
						ご注文いただけます。
					</div>
				</div>


				<ul data-role="listview">
					<li>
						<a data-ajax="false" href="passcode_new.html" id="href4">
							<span class="ico_check"><img id="ico4" src="images/speedorder/ico_check_r.png" width="16" height="15" alt="" style="display:none;" /></span>
							<span class="tl"> 暗証番号 </span>
						</a>
					</li>

					<li id="ordering_ok" style="display:none;">
						<a data-ajax="false" href="#" onclick="location.href='ordering_new.html'"> 
							<span class="ico_check"><img id="ico1" src="images/speedorder/ico_check_r.png" width="16" height="15" alt="" style="display:none;"/></span>
							<span class="tl"> 個人設定（利用者情報） </span> 
						</a>
					</li>
					<li id="ordering_ng">
							<span class="tl"> 個人設定（利用者情報） </span> 
					</li>

					<li id="address_ok" style="display:none;">
						<a data-ajax="false" href="addressee_index.html" >
							<span class="ico_check"><img id="ico2" src="images/speedorder/ico_check_r.png" width="16" height="15" alt="" style="display:none;" /></span>
							<span class="tl"> お届け先 </span>
						</a>
					</li>
					<li id="address_ng">
							<span class="tl"> お届け先 </span> 
					</li>


					<li id="card_ok" style="display:none;">
						<a id="href3" data-ajax="false" href="card_new.html">
							<span class="ico_check"><img id="ico3" src="images/speedorder/ico_check_r.png" width="16" height="15" alt="" style="display:none;" /></span>
							<span class="tl"> クレジットカード </span>
						</a>
					</li>
					<li id="card_ng">
							<span class="tl"> クレジットカード </span> 
					</li>

				</ul>

			</div>

			<!-- nav -->
			<div class="footer" data-role="footer" data-position="fixed" data-id="tabber">
				<ul>
					<li class="tab01">
						<a href="show_order.html" data-ajax="false">
							<span>注文履歴</span>
						</a>
					</li>
					<li class="tab02">
						<a href="barcode.html" data-ajax="false">
							<span>読み取り</span>
						</a>
					</li>
					<li class="tab03 current">
						<a href="setting.html" data-ajax="false">
							<span>設定</span>
						</a>
					</li>
				</ul>
				<!-- /dr-footer -->
			</div>

		</div>
	</body>
</html>

